#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: linear-gradient(#cbf2f7, #34BCBE);
}

body{
  background-color: #85d9dc;
}

h3{
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 20px;
  color: #3c3c3c;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.d-flex{
  display: flex;
  justify-content: space-around;
}
.mt-3{
  margin-top: 30px;
}

input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 100px;
  height: 50px;
  background: #d7d7d7;
  display: block;
  border-radius: 100px;
  position: relative;
}

div.relay-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.relay-container span {
  color: #fff;
  white-space: nowrap;
  margin-top: 3px;
}
.MuiSlider-root,
.MuiSlider-markLabel{
  color: #fff !important;
}

label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 20px;
  transition: 0.3s;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.popup{
  position: relative;
}

*:focus{
  outline: none !important;
  border: 0;
}

.box-card{
  background: #00000029;
  padding: 20px 50px;
  border-radius: 18px;
}

.popup button{
  position: absolute;
  right: 0;
  top: -84px;
  background-color: transparent;
  outline: 0;
  padding: 0;
}

.popup button:hover{
  border: none;
}


.temp,.humid{
  position: relative;
  width: 40px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid #fff;
}

.temp img,.humid img{
  position: absolute;
  left: 0;
  top: 38px;
}

.temp span,
.humid span{
  color: #1c1c1c;
  position: absolute;
  top: 51px;
  width: 100%;
  left: 22px;
  font-size: 22px;
  font-weight: bold;
}

input:checked + label {
  background: #5acc3d;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 75px;
}

.container{
  width: 670px;
}

.cs-main-container{
  max-width: 300px;
  max-height: 300px;
}

[role=tooltip].popup-content{
  width: 300px !important;
  height: 300px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
